
@{
    ViewBag.Title = "HW2";
}

<p>打印1~10</p>
@for (int i = 1; i < 10; i++)
{
    <p>@i</p>
}
<div style="padding-top:10px">
    <p>
        姓名:@Html.TextBox("Name")
    </p>
    <p>
        帳號:@Html.TextBox("Account")
    </p>
    <p>
        密碼:@Html.Password("Password")
    </p>
    <p>
        性別:
        @Html.RadioButton("Gender","Man")男性
        @Html.RadioButton("Gender","Woman")女性
    </p>
    <p>
        興趣:
        @Html.CheckBox("Swimming", "S")游泳
        @Html.CheckBox("Reading", "R")閱讀
        @Html.CheckBox("Movie", "M")看電影
    </p>
    <p>
        自我介紹:@Html.TextArea("About")
    </p>
<button>送出但是其實不能送出</button>
</div>

